.source-sans-3-medium {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  

.baloo-2-bold {
    font-family: "Baloo 2", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

body {
    display: flex;
    flex-direction: column;
    max-width: auto;
    width: 100%;
    margin: auto;
    
}

.header {
    display: flex;
    width: 100%;
    /* justify-content: space-between;
    align-items: center;
    padding: 20px 60px; */
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  h3 {
    font-family: "Baloo 2", sans-serif;
    font-weight: 800;
    font-size: 24px;
  }

  p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-size: 22px;

  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
    max-height: 60px;
  }



  nav li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    }

    .nav__links {
        margin: right;
    }

    .nav__logo {
        display: inline-block;
        padding: 10px;
        margin-left: 10px;
    }

a {
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;

}

    a:hover {
        color: rgb(70, 96, 134);
      }

  main {
    display: flex;
    text-align: center;
    height: auto;
    width: 100%;
    
    
  }



    /* desktop view --------------------- */

        @media screen and (min-width: 1000px) {

            .Main__Headline
            {font-size: 90px;}  
            .burger {
                display: none;
              }
              .main__container {
                display: block;
                }
                .main__text {
                    text-wrap: 100px;
                    
                    }
                main {
                    margin-top: 40px;
        }
    }
        

    /* tablet view --------------------- */

    @media screen and (max-width: 1000px) {
        .Main__Headline
             {font-size: 72px;}  
        .burger {
            display: none;
          }
    }
    
  

/* mobile view -------------------- */

    @media screen and (max-width: 768px) { 
        div.nav__links {
        display: none;
        }
        .Main__Headline {
            font-size: 36px;
        }
        .burger {
            display: block;
            justify-self: right;      }
        .header {
            flex-direction: column;
            padding: 20px;
            }
        nav {
                display: flex;
                align-content: end;
            }  
        p {
                font-size: 18px;
            }
        
    }
    

   

